    GLOBAL_SETTINGS
    LAB_MASTER_SEED audio_spectrogram_dwt_extract_master_seed
    REGISTRY chr1stin4

NETWORK SPECTRO_LAN
     MASK 172.31.60.0/24
     GATEWAY 172.31.60.1

CONTAINER sender
     USER ubuntu
     X11 NO
     DOCKER_ARGS -e XDG_RUNTIME_DIR=/tmp/runtime-student -e PULSE_SERVER=unix:/tmp/runtime-student/pulse/native -v /run/user/1000:/tmp/runtime-student:rw
     SPECTRO_LAN 172.31.60.2
     ADD-HOST SPECTRO_LAN

CONTAINER receiver
     USER ubuntu
     X11 YES
     DOCKER_ARGS -e XDG_RUNTIME_DIR=/tmp/runtime-student -e PULSE_SERVER=unix:/tmp/runtime-student/pulse/native -v /run/user/1000:/tmp/runtime-student:rw
     SPECTRO_LAN 172.31.60.3
     ADD-HOST SPECTRO_LAN
